<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUri" value="https://customer-cosmos.documents.azure.com:443/" />
		<add key="PrimaryKey" value="J67EA2LzpDpybjP5gb5Oz6bafHDsnR6b7CNNmH89nYUqjskLB0UkPthDgN8d05Ad7KB1WTIbSxemACDbSfQ9iQ==" />
	</appSettings>
</configuration>